#select-group {
    width: 55%;
}

.fa-star-large {
    font-size: 50px;

}

.checked {
    color: orange;
}

.dropdown-menu {
    left: -75px;
}

.navbar {
    min-height: 57px;
}

@media (min-width: 767.98px) {
    #select-group, #new-activity-name-field {
        width: 200px;
    }
}